.home{
    width: 100vw;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: center;
}

.container{
    width: 100vw;
}

.alter{
    display: flex;
    justify-content: center;

}

.page-item{
    list-style: none;
}

.page-link{
    border: none;
    width: 4rem;
    height: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: rgb(11, 240, 248);
    
}