.navbar{
    
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;margin: 3rem;


}

.logo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    text-decoration: none;
    color: black;
}